# dependencies
node_modules

# testing
/coverage

# next.js
.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*

# local env files
.env
.env*.local

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

#prisma dev db
frontend/prisma/dev.db
frontend/prisma/dev.db-journal
frontend/coverage
frontend/src/prisma/prisma-client-js/client.d.ts
frontend/src/prisma/prisma-client-js/client.js
frontend/src/prisma/prisma-client-js/default.d.ts
frontend/src/prisma/prisma-client-js/default.js
frontend/src/prisma/prisma-client-js/edge.d.ts
frontend/src/prisma/prisma-client-js/edge.js
frontend/src/prisma/prisma-client-js/index-browser.js
frontend/src/prisma/prisma-client-js/index.d.ts
frontend/src/prisma/prisma-client-js/index.js
frontend/src/prisma/prisma-client-js/libquery_engine-debian-openssl-3.0.x.so.node
frontend/src/prisma/prisma-client-js/package.json
frontend/src/prisma/prisma-client-js/schema.prisma
frontend/src/prisma/prisma-client-js/wasm.d.ts
frontend/src/prisma/prisma-client-js/wasm.js
frontend/src/prisma/prisma-client-js/runtime/edge-esm.js
frontend/src/prisma/prisma-client-js/runtime/edge.js
frontend/src/prisma/prisma-client-js/runtime/index-browser.d.ts
frontend/src/prisma/prisma-client-js/runtime/index-browser.js
frontend/src/prisma/prisma-client-js/runtime/library.d.ts
frontend/src/prisma/prisma-client-js/runtime/library.js
frontend/src/prisma/prisma-client-js/runtime/react-native.js
frontend/src/prisma/prisma-client-js/runtime/wasm.js
frontend/src/prisma/client.d.ts
frontend/src/prisma/client.js
frontend/src/prisma/default.d.ts
frontend/src/prisma/default.js
frontend/src/prisma/edge.d.ts
frontend/src/prisma/edge.js
frontend/src/prisma/index-browser.js
frontend/src/prisma/index.d.ts
frontend/src/prisma/index.js
frontend/src/prisma/libquery_engine-debian-openssl-3.0.x.so.node
frontend/src/prisma/package.json
frontend/src/prisma/schema.prisma
frontend/src/prisma/wasm.d.ts
frontend/src/prisma/wasm.js
frontend/src/prisma/runtime/edge-esm.js
frontend/src/prisma/runtime/edge.js
frontend/src/prisma/runtime/index-browser.d.ts
frontend/src/prisma/runtime/index-browser.js
frontend/src/prisma/runtime/library.d.ts
frontend/src/prisma/runtime/library.js
frontend/src/prisma/runtime/react-native.js
frontend/src/prisma/runtime/wasm.js
