services:
  # caddy:
  #   restart: unless-stopped
  #   build:
  #     context: caddy
  #     args:
  #       TYPE: "local"
  #   environment:
  #     - WS_SERVER_HOST=${WS_SERVER_HOST-dev_container}
  #     - API_SERVER_HOST=${API_SERVER_HOST-dev_container}
  #     - WEB_SERVER_HOST=${WEB_SERVER_HOST-dev_container}
  #   ports:
  #     - 443:443/tcp
  #     - 443:443/udp
  #   volumes:
  #     - caddy_data:/data

  redis:
    # Override to use full stack with RedisInsight UI for local development
    image: "redis/redis-stack:latest"
    ports:
      - 6379:6379
      - 13333:8001  # RedisInsight UI (custom port for local dev)

  smtp:
    restart: unless-stopped
    image: mailhog/mailhog
    ports:
      - 1025:1025
      - 8025:8025
    healthcheck:
      test: nc -z 127.0.0.1 1025

volumes:
  caddy_data:
