@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --foreground-rgb: 0, 0, 0;
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --foreground-rgb: 189, 193, 198;
    }
  }

  body {
    color: rgb(var(--foreground-rgb));
  }

  h1 {
    @apply text-2xl font-bold;
  }

  @page {
    size: letter;
    margin: 10mm 10mm;
  }

  @media print {
    html {
      font-size: 14px;
    }
  }
}
